<div *ngIf="pelicula" class="container col-10 main-container animated fadeIn slow p-5">

    <h1>{{ pelicula.original_title }}</h1>

    <div class="row">
        <div class="col md-5">
            <img [src]="pelicula | peliculaImagen:true" [alt]="pelicula.original_title" class="img-thumbnail img-fluid">
        </div>

        <div class="col md-7">
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify">
                {{ pelicula.overview }}
            </p>
            <h5>Frase celebre: </h5>
            <p>
                {{ pelicula.tagline }}
            </p>
            <p>
                Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".1-1" }}/100</span>
                <br> Voto promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
            </p>

            <button [routerLink]="[ '/'+ regresarA, busqueda]" type="button" class="btn btn-outline-danger">
                Regresar
            </button>

        </div>


    </div>


</div>